.headersec {
  background-color: #191b21;
  padding-bottom: 1%;
}

.navbarsec {
  background-color: #191b21;
  padding-top: 1%;
}

.title {
  color: white;
}

.itemsec {
  background-color: #191b21;
  color: white;
}

#bodysec {
  background-color: #191b21;
  color: #191b21;
  padding-top: 2%;
  padding-bottom: 1%;
}

#photoobj {
  background-color: #191b21;
  padding-top: 2%;
  width: 100%;
  height: 75%;
}

.div {
  background-color: #191b21;
}

#blue {
  background-color: #045A73;
}

.content {
  padding-top: 2%;
}

body {
  background: #191b21;
  color: #23d160;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body,
  #message {
    margin-top: 0;
    background: #191b21;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #23d160;
  }
}

.notification {
  background-color: #191b21;
  border-style: dashed;
  border-color: #23d160;
  margin-left: 5%;
  margin-right: 5%;
}

#neon {
  background-color: #23d160;
  float: left;
  position: relative;
  width: 180px;
  /* padding: 3px; */
  /* margin: 4px; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.notification strong {
  color: #1CA8DD;
}

.ingametext {
  color: #23d160;
  padding-top: 5%;
}

html,
body {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#forms {
  padding-top: 10%;
  margin-top: 10%;
}

.gameDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

.icon .fa {
  color: #23d160;
}

a {
  color: #23d160;
}

#footersec {
  background-color: #191b21;
  width: 100%;
  padding: 40px 0px 40px 0px;
}

#playnow {
  background-color: #1CA8DD;
  padding-bottom: 2%;
  background-color: #1CA8DD;
  padding-bottom: 2%;
}

a.halflink:hover {
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 200px;
  height: 300px;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}

.image-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}

.columnspace {
  padding-top: 3%;
}

.formspacing {
  padding-bottom: 5%;
}

.infoScreen {
  position: absolute;
  top: 73%;
  left: 4%;
  width: 15vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.48);
  border: 2px solid #00a9b2;
  border-radius: 10px;
  color: #00a9b2;
  font-size: 2vh;
  box-shadow: 0 0 100px 2px rgb(18, 156, 132);
}

.scoreTable {
  position: absolute;
  top: 15vh;
  left: 15vw;
  width: 70vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.48);
  border: 2px solid #00a9b2;
  border-radius: 10px;
  color: #00a9b2;
  font-size: 2vh;
  box-shadow: 0 0 100px 2px rgb(18, 156, 132);
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.fullbutton {
  color: #191b21;
}

h3 {
  padding-top: 2%;
}

body {
  background: #191b21;
}

#greenText {
  color: #23d160;
}

/* #overlay {
  position: absolute;
  justify-content: center;
  border: solid 2px white;
  z-index: 1;
  transform: translateY(-50%);
} */

#choose {
  margin: 10% 10%;
}

.winScreen {
  position: absolute;
  top: 30vh;
  left: 15vw;
  height: 20vh;
  width: 70vw;
}

.space {
  padding-top: 10%;
}

#centerInput {
  /* text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center; */
  justify-content: center;
}

#centerButtons {
  justify-content: center;
}

#noUnderline {
  text-decoration: none;
}

.imgBall {
  border-radius: 50%;
}

#tableList {
  color: #23d160;
}
